.restaurant-details{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 300px;
}

.restaurant-image{
     height:250px;
    width: 300px;
    margin: 25px;
    cursor: pointer;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
}

.details-container{
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: space-between;
}

.rating-section{
 padding-left: 40px;
}

.menu-cart-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-items{
      width: 50%;
    height: 100%;
    margin: 2%;
}

.item-price{
    float: right;
}

.item-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-section{
    width: 40%;
    height: 100%;
    margin: 2%;
    float: right;
    border-radius: 4px;
}

.card-container{
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.remove-icon-cart:hover {
    cursor: pointer;
    background-color: yellow;
}

.add-icon-cart:hover{
    cursor: pointer;
    background-color: yellow;
}

.total-amount{
      font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}